.wrapper {
    border: 2rem solid #2B81AC;
    background-color: #3399CC;
    color: #ffffff;
    font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
    margin: 3rem 20rem;
    width: 1350px;
    height: 900px;
}

.cities {
    box-sizing: border-box;
    border: 3px solid #ffffff;
    list-style: none;
    font-size: 0;
    text-align: center;
    padding: 0;
    width: 900px;
    margin: 0 auto;
}

.cities li {
    display: inline-block;
    box-sizing: border-box;
    border: 3px solid #ffffff;
    text-align: center;
    font-size: 25px;
    height: 145px;
    line-height: 2;
    padding-top: 20px;
}

.cities p {
    margin: 0;
    opacity: 0.5;
}

.wi {
    font-size: 35px;
}

.title {
    padding-left: 225px;
    font-weight: 100;
}

.title p {
    font-size: 2rem;
}

.cities li:nth-child(1) {
    background-color: #3399CC;
    width: 50%;
}

.cities li:nth-child(2) {
    background-color: #33CCCC;
    width: 25%;
}

.cities li:nth-child(3) {
    background-color: #996699;
    width: 25%;
}

.cities li:nth-child(4) {
    background-color: #C24747;
    width: 25%;
}

.cities li:nth-child(5) {
    background-color: #E2674A;
    width: 25%;
}

.cities li:nth-child(6) {
    background-color: #FFCC66;
    width: 25%;
}

.cities li:nth-child(7) {
    background-color: #99CC99;
    width: 25%;
}

.cities li:nth-child(8) {
    background-color: #669999;
    width: 25%;
}

.cities li:nth-child(9) {
    background-color: #CC6699;
    width: 50%;
}

.cities li:nth-child(10) {
    background-color: #339966;
    width: 25%;
}

.cities li:nth-child(11) {
    background-color: #666699;
    width: 100%;
}